:root {
    --ua-blue: blue;
    --ua-yellow: yellow;

    --jp-red: red;
}

.flag {
    width: 300px;
    overflow: hidden;
    border: 1px solid black;
}

.ukraine {
    aspect-ratio: 3 / 2;
}

.ukraine .blue {
    width: 100%;
    height: 50%;
    background-color: var(--ua-blue);
}

.ukraine .yellow {
    width: 100%;
    height: 50%;
    background-color: var(--ua-yellow);
}

.japan {
    aspect-ratio: 3 / 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.japan .circle {
    aspect-ratio: 1 / 1;
    height: 60%;
    border-radius: 100%;
    background-color: var(--jp-red);
}
